.login-logo-bold {
	font-weight: bold;
	
}
.login-logo-img {
	margin-top: -60px;
}
.login-img {
	max-height: 90px;
	max-width: 90px;
}
.logo-footer {
	max-height: 30px;
}
.copyright {
	font-size: 13px;
	color: #607D8B;
}

.dashboard-title {
	font-size: 18px;
	font-weight: bold;
}

.modal-dialog {
	margin: 150px auto !important;
}

.price {
	font-size: 30px !important;
	font-weight: bold;
	border-radius: 0px !important;
}

.selling-title {
	font-size: 30px;
	font-weight: bold;
}
.selling-table {
	font-weight: bold;
	font-size: 17px;
}
.selling-detail-table {
	border: 1px solid #000;
	border-spacing: 0px;
}
.selling-detail-table tr td {
	border: 1px solid #000;
	padding: 5px;
}
.selling-number {
	font-weight: bold;
	font-size: 35px;
	padding: 0px;
}

.text-right {
	text-align: right;
}

.red {
	color: #E53935;
}
.blue {
	color: #5D59A6;
}